@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Events manager client <br /> Bienvenue dans le client Gestionnaire d'événements</h1>
    <h2 class="text-end">By Gavit0</h2>
    <br />
    <br />
    <b>EN</b>
    <p>Simple Events Manager is a lightweight application that provides a RESTful backend service for managing 
        events along with a web application for creating and listing events. The backend is designed to handle 
        event creation, storage, and retrieval, while the frontend web application offers an interface for users 
        to interact with the events.</p>
    <br />
    <b>FR</b>
    <p>Simple Events Manager est une application légère qui fournit un service backend RESTful pour gérer les 
        événements ainsi qu'une application Web pour créer et répertorier des événements. Le backend est conçu 
        pour gérer la création, le stockage et la récupération d'événements, tandis que l'application Web frontale 
        offre une interface permettant aux utilisateurs d'interagir avec les événements.</p>
</div>
